.partners{
    display: none;
}
@media (min-width:850px) {
    .partners{
        display: block;
        padding-top: 20px;
        .div{
            display: flex;
            justify-content: space-between;
            span{
                display: flex;
                align-items: center;
                gap: 10px;
                span{
                    font-size: x-large;
                    color: $blue;
                    font-weight: 700;
                }
            }
        }
        .logos{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-content: space-between;
            gap: 15px;
            align-items: center;
            margin-top: 20px;
        }
    }
}