$blue: #003459;
$dark-blue: #002A48;
$black: rgba(0, 23, 31, 1);
$skyblue:  #00A7E7;
$white: #FFFFFF;
$linear: linear-gradient(#FCEED5, #FCEED5, #FFE7BA);
$border: 2px solid $blue;
$spec: rgba(247, 219, 167, 1);
$but-back: $blue;
$grey: #667479;
$section-back: #ebeeefa0;
$bonus-back: #FCEED5;
$shadow: 0px 0px 5px rgb(223, 223, 223);
$adop: rgba(255, 183, 117, 1);
$foot: rgba(252, 238, 213, 1);